img.article-photo-header {
    height: auto;
    width: 512px;
    max-width: 90vw;
}

div.header-img-container {
    background-color: gray;
    margin: 2rem 0;
}

form.form-comment {
    margin: 1rem 0;
}

div.div-comment {
    border: .05rem solid gray;
    border-radius: 15px;
    padding: .7rem .7rem .1rem;
    margin: 1rem;
}

div.div-like {
    margin: 2rem 0;
}

img.img-like {
    width: 16px;
    height: auto;
    margin-right: .2rem;
}

div.div-comment p {
    margin-bottom: 0;
}