div.jumbotron-home {
    background-color: #ffe1e0;
}

img.img-home {
    width: 480px;
    height: auto;
}

a.btn-jumbotron {
    background-color: #fa5853;
    color: white;
    padding: .5rem 1.5rem;
}