div.about-us, div.fitur {
    margin: 5rem 0;
}

div.about-us h2, div.fitur h2, div.our-team h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
}

div.fitur h3, div.our-team h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
}

div.about-us p, div.fitur p, div.our-team p {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 300;
}

div.our-team {
    background-color: black;
    color: white;
    margin: 5rem 0 0;
    padding: 3rem;
}