nav {
    box-shadow: 0 1px 6px 0 #242021;
    margin-bottom: 1rem;
}

nav .navbar-brand img {
    height: 32px;
    width: auto;
}

nav a.btn-navbar-login {
    border: .2rem solid #fa5853;
    color: #fa5853;
}

img.navbar-icon {
    height: 25px;
    width: auto;
    margin: 0 .5rem 0 0;
}