.splashscreen {
    padding-top: 10vh;
}

img.img-splashscreen {
    width: 128px;
    height: auto;
    margin-bottom: 30px;
}

.splashscreen .loading-dot {
    font-size: 100px;
    margin-top: -80px;
    position: relative;
    animation: ease-in-out infinite alternate;
    animation-name: run;
    animation-duration: 1.2s;
  }
  
@keyframes run {
    0% {
        left: -10px;
        color: #eee;
    }
    50% {
        color: #666;
    }
    100% {
        left: 10px;
        color: #eee;
    }
}